@import "tailwindcss";

body {
            margin: 0;
            font-family: "Poppins", sans-serif;
            background: #FDFDFC;
        }
        .header-nav-link-logo{
            height: 20px;
            width: 30px;
            padding-right: 10px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 60px;
            background: #ffffff;
            box-shadow: 0 2px 10px rgba(80, 78, 78, 0.05);
        }

        .logo {
            font-size: 26px;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: #10a8f4;
        }
        .logo:hover{
          cursor: pointer;
        }
        .header-logo{
            height: 30px;
            width:  30px;
        }

        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 30px;
        }
        

        nav ul li a {
            text-decoration: none;
            font-size: 16px;
            color: #222222;
            transition: 0.3s;
        }

        nav ul li a:hover {
            color: #044ec7;
        }

        .contact-btn {
            padding: 10px 20px;
            background: #A0C4FF;
            text-decoration: none;
            color: #222222;
            border-radius: 8px;
            font-weight: 600;
            transition: 0.3s;
        }
        nav ul li a:hover {
color: #A0C4FF;
text-decoration: underline;
}

        .contact-btn:hover {
            background: #B9FBC0;
        }
/* ------------------------------------------------------------------------------------------         */

.home{
    height: 90vh;
    background-color: #f5e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side{
    margin-left: 10px;
    justify-content: center;
    margin: 50px;
    height: 60vh;
    width: 40%;
    
}
.left-side{
    margin-right: 10px;
    height: 60vh;
    width: 40%;
    
}
.profile {
  max-width: 800px;
  
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
}

.profile h1 {
  font-size: 2.8rem;
  color: #605d5d;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile .name {
  color: #e8587f;
}

.profile .lead {
  font-size: 1.1rem;
  color: #000;
  float: left;
  line-height: 1.7;
  max-width: 650px;
  margin: 0 auto 25px;
  opacity: 0.9;
}

.profile-meta {
  list-style: none;
  padding: 0;
  margin: 25px 0;
  font-size: 1rem;
  line-height: 1.8;
}

.profile-meta li strong {
  color: #1d8def;
}
.profile-meta li {
  color: #f98f03;
}

.profile-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  background: #06deee;
  color: #000000;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #00cbe8;
}

.btn-outline {
  background: transparent;
  border: 2px solid #00e0ff;
  color: #00e0ff;
}

.btn-outline:hover {
  background: #00e0ff;
  color: #000;
  transform: translateY(-3px);
}
.my-pic{
    margin: 10px;
    border-radius: 50px;
}
/* ///////////////footer //////////// */
.footer {
  background: #111;
  display: flex;
  padding: 20px 0;
  text-align: center;
  color: #ddd;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: auto;
  margin: auto;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #fff;
  text-decoration: underline;
}

/* //////////////////////////////////////////about////////////////////////// */

.about {
  padding: 90px 10%;
  font-family: "Poppins", sans-serif;
  background: #111;
  color: #fff;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.about-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00eaff;
  transition: 0.4s ease;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px #00eaff;
}

.about-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.about-content p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #ddd;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #00eaff;
  color: #111;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: transparent;
  border: 2px solid #00eaff;
  color: #00eaff;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    width: 200px;
    height: 200px;
  }
}

.backArrow{
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 2px;
  cursor: pointer;
}
.back-btn{
  display: flex;
  position: fixed;
  height: 30px;
   border-radius: 5px;
  background-color: rgb(229, 233, 17);
  width: 90px;
  align-items: center;
}